{% extends 'base.html.twig' %}

{% block title %}Property index
{% endblock %}

{% block body %}


{{ form_start(form) }}
<div class="form p-5">
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_label(form.roomsMin, "Nombre de pièces minimum") }}
        </div>
        <div class="col">
            {{ form_label(form.roomsMax, "Nombre de pièces maximum") }}
        </div>
		        <div class="col">
            {{ form_label(form.surfaceMin, "Surface minimale") }}
        </div>
		        <div class="col">
            {{ form_label(form.surfaceMax,"Surface maximale") }}
        </div>
		        <div class="col">
            {{ form_label(form.priceMin, "Prix minimum") }}
        </div>
		        <div class="col">
            {{ form_label(form.priceMax, "Prix maximum") }}
        </div>
    </div>
	<hr>
	    <div class="row">
        <div class="col">
            {{ form_widget(form.roomsMin) }}
        </div>
        <div class="col">
            {{ form_widget(form.roomsMax) }}
        </div>
		        <div class="col">
            {{ form_widget(form.surfaceMin) }}
        </div>
		        <div class="col">
            {{ form_widget(form.surfaceMax) }}
        </div>
		        <div class="col">
            {{ form_widget(form.priceMin) }}
        </div>
		        <div class="col">
            {{ form_widget(form.priceMax) }}
        </div>
    </div>
	</div>
{{ form_end(form) }}


	<div class="d-flex flex-row wrap">
		{% block main %}
			<div class="container d-flex flex-wrap flex-column " style="width: 80%">
				<h1>Nos biens</h1>
				<a href="{{ path('property_new') }}">Create new</a>

				<div class="row ">

					{% for property in properties %}
						<div class="card col-4 m-5" style="width: 15rem;">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{ property.title }}</h5>
								<p class="card-text">
									<strong>Ville :</strong>
									{{ property.city }}</p>
								<p class="card-text">
									<strong>Nombre de pièces :</strong>
									{{ property.rooms }}</p>
								<p class="card-text">
									<strong>Surface :</strong>
									{{ property.groundSize }}
									m²</p>
								<p class="card-text">
									<strong>Terrain :</strong>
									{{ property.surface }}
									m²</p>

								<p class="card-text">
									<strong>Prix :</strong>
									{{ property.price }}
									€</p>

								<a href="{{ path('property_show', {'slug': property.slug}) }}" class="btn btn-primary">Voir le bien</a>
								<a href="{{ path('property_edit', {'id': property.id}) }}">edit</a>
							</p>
						</div>
					</div>


					{# <td>{{ property.id }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.title }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.surface }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.content }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.price }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.floor }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.rooms }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.address }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.zipcode }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.city }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.type }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.transactionType }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.groundSize }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.dateOfConstruction }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.sell ? 'Yes' : 'No' }}</td>
																																																																																																																																																																																																																																																			<td>{{ property.slug }}</td> #}

				{% else %}
					<tr>
						<td colspan="17">no records found</td>
					</tr>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	{% block sidebar %}

	{% endblock %}
</div>{% endblock %}
