{% extends 'base.html.twig' %}

{% block title %}Property index
{% endblock %}

{% block body %}
	<div class="d-flex flex-row wrap">
		{% block main %}
			<div class="container d-flex flex-wrap flex-column " style="width: 80%">
				<h1>Nos biens</h1>
				<a href="{{ path('property_new') }}">Create new</a>

				<div class="row ">

					{% for property in properties %}
						<div class="card col-4 m-5" style="width: 15rem;">
							<img src={{property.pictures.0.name}} class="card-img-top mt-2 rounded-lg" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{ property.title }}</h5>
								<p class="card-text">
									<strong>Ville :</strong>
									{{ property.city }}</p>
								<p class="card-text">
									<strong>Nombre de pièces :</strong>
									{{ property.rooms }}</p>
								<p class="card-text">
									<strong>Surface :</strong>
									{{ property.groundSize }}
									m²</p>
								<p class="card-text">
									<strong>Terrain :</strong>
									{{ property.surface }}
									m²</p>

								<p class="card-text">
									<strong>Prix :</strong>
									{{ property.price }}
									€</p>

								<a href="{{ path('property_show', {'slug': property.slug}) }}" class="btn btn-primary">Voir le bien</a>
								<a href="{{ path('property_edit', {'id': property.id}) }}" class=" btn btn-danger">edit</a>
							</p>
						</div>
					</div>


					{# <td>{{ property.id }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.title }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.surface }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.content }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.price }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.floor }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.rooms }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.address }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.zipcode }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.city }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.type }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.transactionType }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.groundSize }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.dateOfConstruction }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.sell ? 'Yes' : 'No' }}</td>
																																																																																																																																																																																																																																																																																																																																								<td>{{ property.slug }}</td> #}

				{% else %}
					<tr>
						<td colspan="17">no records found</td>
					</tr>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	{% block sidebar %}


		<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
				<svg class="bi me-2" width="40" height="32">
					<use xlink:href="#bootstrap"></use>
				</svg>
				<span class="fs-4">Notre agence</span>
			</a>
			<hr>
			<div>
				<img src="https://picsum.photos/300/200" alt="Photo de l'agence">
				<hr>
				<p>Vous pouvez nous retrouver tous les jours de
					<strong>9h à 17h</strong>
					au 1 rue de test 12345 Test-Ville<br>ou nous contacter
					<br>Par mail : contact@immo.fr
					<br>Par telephone
					<a href="tel:+33 6 12 34 56 78">+33 6 12 34 56 78</a>
				</p>
			</div>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="#" class="nav-link active" aria-current="page">
						<svg class="bi me-2" width="16" height="16">
							<use xlink:href="#home"></use>
						</svg>
						Home
					</a>
				</li>
				<li>
					<a href="{{path('property_type',{propertyType:'Appartement'})}}" class="nav-link link-dark">
						<svg class="bi me-2" width="16" height="16">
							<use xlink:href="#speedometer2"></use>
						</svg>
						Appartements
					</a>
				</li>
				<li>
					<a href="{{path('property_type',{propertyType:'Maison'})}}" class="nav-link link-dark">
						<svg class="bi me-2" width="16" height="16">
							<use xlink:href="#table"></use>
						</svg>
						Maisons
					</a>
				</li>
				<li>
					<a href="{{path('property_transactionType',{transactionType:'Vente'})}}" class="nav-link link-dark">
						<svg class="bi me-2" width="16" height="16">
							<use xlink:href="#grid"></use>
						</svg>
						Achat
					</a>
				</li>
				<li>
					<a href="{{path('property_transactionType',{transactionType:'Location'})}}" class="nav-link link-dark">
						<svg class="bi me-2" width="16" height="16">
							<use xlink:href="#people-circle"></use>
						</svg>
						Location
					</a>
				</li>
			</ul>
			<hr>
		</div>


	{% endblock %}
</div>{% endblock %}
